
.cs-fize24{
    font-size: 24px;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  background: aqua;
  overflow: hidden;
  position: relative;
}

.image-container {
  margin: 15px;
  min-height: 374px;
  position: relative;

  .image-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.timer-container {
  height: 226px;
  padding: 10px 0 15px 20px;

  .bg-timer {
    position: relative;
    height: 100%;
    width: 100%;
    background: url("./img/time.png") no-repeat;
    background-size: 100% 100%;
      .time-wrapper{
          position: absolute;
          top: 80px;
          left: 60px;
          color: #FF6B38;
          display: flex;
          align-items: center;
          .timetext {
              font-size:30px ;
              color: #FF9B00;
          }
        .btime {
          font-size: 48px;
        }
          span{
              display: inline-block;
              margin-right: 5px;
          }
      }
  }
}

.cardtype{
  position: relative;
  padding: 34px 0 110px 0;
  background: url("./img/cardlist.png") no-repeat;
  background-size: 100% 100%;

  .item{
    position: relative;
    height: 200px;
    margin: 4px 0;
    background: url("./img/carditem.png") no-repeat;
    background-size: 100% 100%;

    .openstatue{
      position: absolute;
      height: 100%;
      width: 260px;
      right: 33px;
      top: 0;
      bottom: 0;
      cursor: pointer;
    }

    .open{
      background: url("./img/item_t.png") no-repeat;
      background-size: 100% 100%;
    }

    .close{
      background: url("./img/item_f.png") no-repeat;
      background-size: 100% 100%;
    }

    .cardname{
      position: absolute;
      top: 65px;
      left: 168px;
      font-size:50px;
      font-weight:bold;
      color:rgba(90,156,217,1);
    }

    .pricebox{
      position: absolute;
      top: 45px;
      left: 335px;
      display: flex;
      flex-direction: column;

      .discountprice{
        font-size:18px;
        font-weight:bold;
        color:rgba(255,95,95,1);
        line-height:25px;
        letter-spacing:3px;
      }

      .price{
        font-size:60px;
        font-weight:bold;
        color:rgba(255,95,95,1);
        line-height:60px;
        &:before{
          content: 'ï¿¥';
          font-size:30px;
          font-weight:bold;
          color:rgba(255,95,95,1);
          line-height:42px;
        }
      }

      .oldprice{
        font-size:18px;
        font-weight:bold;
        color:rgba(153,106,49,1);
        line-height:25px;
        letter-spacing:3px;
        text-decoration: line-through;
      }
    }
  }

  .lefticon{
    position: absolute;
    top: 410px;
    left: 0;
    width: 74px;
    height: 100px;
    background: url("./img/lefticon.png") no-repeat;
    background-size: 100% 100%;
  }
  .righticon{
    position: absolute;
    top: 181px;
    right: 0;
    width: 79px;
    height: 110px;
    background: url("./img/righticon.png") no-repeat;
    background-size: 100% 100%;
  }
  .bottomicon{
    position: absolute;
    bottom: 0;
    left: 131px;
    width: 120px;
    height: 120px;
    background: url("./img/bottomicon.png") no-repeat;
    background-size: 100% 100%;
  }
}

.membercard{
  margin-top: 20px;
  //padding: 0 15px;
  img{
    width: 100%;
    object-fit: contain;
  }
}

.vipcontent{
  img{
    width: 100%;
    object-fit: contain;
  }
}

.description-box{
  min-height: 410px;
  background: #ffffff;
  border-radius: 10px;
  margin: 20px 32px 121px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .description{
    margin-top: 28px;
    font-size:36px;
    font-weight:500;
    color:rgba(51,51,51,1);
    line-height:50px;
    text-align: center;
  }
  .desctext{
    flex: 1;
    padding: 20px;
    font-size: 24px;
    line-height:43px;
    color:rgba(121,121,121,1);
  }
}

.loginbox{
  position: fixed;
  bottom: 0;
  width:750px;
  height:896px;
  background:rgba(255,255,255,1);
  border-radius:20px 20px 0px 0px;

  .title{
    position: relative;
    text-align: center;
    top: 84px;
    font-size:30px;
    font-weight:500;
    color:rgba(58,58,58,1);
    line-height:42px;
  }


  .inputbox{
    position: absolute;
    width:686px;
    height:90px;
    background:rgba(242,242,242,1);
    border-radius:45px;
    display: flex;
    align-items: center;
  }

  .account{
    top: 302px;
    left: 32px;
    .phone{
      box-sizing: border-box;
      height: 60px;
      line-height: 60px;
      display: inline-block;
      width: 142px;
      margin: 15px 0 ;
      padding: 0 40px;
      font-size:36px;
      border-right: 3px solid rgba(230,230,230,1);
    }
    .cs-input{
      margin-left: 20px;
      flex: 0 0 70%;
      height: 60px;
      line-height: 60px;
      font-weight:400;
      color:rgba(58,58,58,1);
      font-size:36px;
      border: none;
      background:rgba(242,242,242,1);
      &:focus {
        outline: none;
      }
    }
  }

  .pwdbox{
    top: 424px;
    left: 32px;
    position: relative;
    .cs-input-pwd{
      width: 420px;
      height: 60px;
      margin-left: 40px;
      line-height: 60px;
      font-weight:400;
      color:rgba(58,58,58,1);
      font-size:36px;
      border: none;
      background:rgba(242,242,242,1);
      &:focus {
        outline: none;
      }
    }
    .time{
      display: inline-block;
      position: absolute;
      right: 20px;
      width:159px;
      height:60px;
      background:rgba(255,255,255,1);
      border-radius:30px;
      font-size:24px;
      font-weight:500;
      color:rgba(204,204,204,1);
      line-height:60px;
      text-align: center;
    }
  }

  .tip{
    position: absolute;
    bottom: 101px;
    left: 75px;
    font-size:20px;
    color:rgba(102,102,102,1);
  }

  .icon-close{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 34px;
    height: 34px;
    background: url("./img/icon_close.png") no-repeat;
    background-size: 100% 100%;
  }

  .stitle{
    font-size:24px;
    font-weight:400;
    color:rgba(102,102,102,1);
    line-height:33px;
  }
  .selectbox{
    height: 600px;
    .phonebtn{
      position: absolute;
      left: 75px;
      top: 474px;
      width: 600px;
      height: 90px;
      background: url("./img/phonebtn.png") no-repeat;
      background-size: 100% 100%;
    }
    .account{
      position: absolute;
      left: 75px;
      top: 352px;
      width: 600px;
      height: 90px;
      background: url("./img/accountbtn.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
.loginbtn{
  position: absolute;
  top: 614px;
  left: 32px;
  width:686px;
  height:90px;
  background:rgba(255,207,13,1);
  border-radius:45px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size:36px;
  color:rgba(255,255,255,1);
  line-height:50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
